{% extends 'index.html' %}

{% block content %}

  <svg width="250" height="230" id="drawing">
    <!-- Structure -->
	  <line y1="220" y2="220" x1="10" x2="120" stroke="white"/>
      <line y1="10" y2="220" x1="65" x2="65" stroke="white"/>
	{% if difficulty == "hard" %}
      <line y1="10" y2="10" x1="65" x2="175" stroke="white"/>
      <line y1="10" y2="40" x1="175" x2="175" stroke="white"/>
	{% endif %}

    <!-- Hangman -->
    <g id="hangman-drawing">
	{% if difficulty != "hard" %}
      <line y1="10" y2="10" x1="65" x2="175" stroke="white"/>
      <line y1="10" y2="40" x1="175" x2="175" stroke="white"/>
	{% endif %}
      <circle cx="175" cy="55" r="15" stroke="white"/>
      <ellipse cx="175" cy="115" rx="20" ry="45" stroke="white"/>
      <line y1="150" y2="190" x1="162" x2="140" stroke="white"/>
      <line y1="150" y2="190" x1="188" x2="210" stroke="white"/>
      <line y1="80" y2="40" x1="162" x2="140" stroke="white"/>
      <line y1="80" y2="40" x1="188" x2="210" stroke="white"/>
    </g>
  </svg>

  {% if game.finished %}
    <h1>
      {% for letter in game.word %}
        <span class="text-{% if letter in game.tried %}success{% else %}danger{% endif %}" style="color: lime;">
          {{ letter }}
        </span>
      {% endfor %}
    </h1>

	<!-- Modification - changed win/loss messages -->
    <h3 style="color: aqua;">
      {% if game.won %} You win! {% else %} You lose :( {% endif %}
    </h3>

	<!-- Display score on screen (Modification) -->
	<h4 style="color: aqua;">
	  {% if game.won %} Score: {{ game.points }} {% endif %}
	</h4>

    <p>
      <a class="btn btn-default" href="{{ url_for('solo') }}">Change Difficulty</a>
      <a class="btn btn-primary"
         href="{{ url_for('new_game') }}?player={{ game.player }}">
        Play Again
      </a>
    </p>
  {% else %}
    <h1 id="current" style="color: white;" class="spaced">{{ game.current }}</h1>
  {% endif %}

    <h2 class="vspace" id="errors" style="color: white;">
		Errors ({{ game.errors|length }}{% if difficulty == "hard" %}/6{% else %}/8{% endif %}):
      <span class="text-danger spaced" style="color: orangered;">{{ game.errors }}</span>
    </h2>

  {% if not game.finished %}
  	<!-- Guess Letter -->
    <form method="post" id="letter-form" class="form-inline vspace">
      <small style="color: white;">Guess Letter: </small>
      <div class="form-group">
        <input class="input-lg text-uppercase" maxlength="1" size="any"
               name="letter" autocomplete="off" autofocus >
      </div>
      <button type="submit" class="btn btn-default btn-lg">Try letter</button>
      
	  <!-- Guess the word (Modification) -->
	  <br>
      <small style="color: white;">Guess Word: </small>
      <div class="form-group">
			  <input class="input-lg text-uppercase" maxlength="{{ game.current|length }}" size="any"
               name="word_guess" autocomplete="off" autofocus>
      </div>
      <button type="submit" class="btn btn-default btn-lg">Try word</button>
    </form>
  {% endif %}
{% endblock %}

{% block bottom %}
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script>
    updateDrawing('{{ game.errors }}');
  </script>

{% endblock %}
