{% extends 'index.html' %}

{% block content %}
  <form action="{{ url_for('spdif') }}" class="form-inline" method="post">
    <div class="form-group">
	  <h3 style="color: white;">Select Difficulty</h3>
    	<input type="submit" class="btn btn-primary btn-lg" name="easy" value="Easy">
    	<input type="submit" class="btn btn-primary btn-lg" name="medium" value="Medium">
    	<input type="submit" class="btn btn-primary btn-lg" name="hard" value="Hard">
    </div>
  </form>

  <div class="panel panel-default vspace" style="color: white;">
    <div class="panel-heading">Top 10</div>
    <table class="table" style="background-color: #292929;">
      <thead>
        <tr style="color: white;">
          <th>#</th>
          <th>Player</th>
          <th>Word</th>
          <th>Errors</th>
          <th>Points</th>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ game.player }}</td>
            <td class="text-success" style="color: greenyellow;">{{ game.current }}</td>
            <td class="text-danger spaced" style="color: orangered;">{{ game.errors }}</td>
            <td>{{ game.points }}</td>
        {% endfor %}
    </table>
  </div>
  <p></p>
{% endblock %}
