{% extends 'index.html' %}

{% block content %}
  <form action="{{ url_for('new_game') }}" class="form-check">
    <div class="form-group vspace">
      <input name="player" class="input-lg" required="required"
             placeholder="Your Name">
	  <button class="btn btn-primary btn-lg" type="submit">Play!</button>
    </div>
  </form>

  <div class="panel panel-default vspace" style="color: white;">
    <div class="panel-heading">Top 10</div>
    <table class="table" style="background-color: #292929;">
      <thead>
        <tr style="color: white;">
          <th class="text-center">#</th>
          <th class="text-center">Player</th>
          <th class="text-center">Word</th>
          <th class="text-center">Errors</th>
          <th class="text-center">Points</th>
      <tbody>
        {% for game in games %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ game.player }}</td>
            <td class="text-success" style="color: greenyellow;">{{ game.current }}</td>
            <td class="text-danger spaced" style="color: orangered;">{{ game.errors }}</td>
            <td>{{ game.points }}</td>
        {% endfor %}
    </table>
  </div>
  <p></p>
{% endblock %}
